*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gamePage{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-container{
  height: 90vh;
  width: 90vh;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
.cell{
  flex: 1;
  /* border: 0.2px solid black; */
}
.grid-row{
  display: flex;
  flex: 1;
}
.ball{
  position: fixed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.ball.day{
  background-color: #dcfce7;
  border: 2px solid white;
}
.ball.night{
  background-color: #064e3b;
  border: 2px solid #0a0a0a;
}
.startButton{
  color: #064e3b;
  background-color: #dcfce7;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.right-container{
  display: inline;
}